/* #nav-container{
    display: grid;  a must!
    background-color: #2c3e50;
    grid-template-columns: repeat(2, 1fr);
    padding-right: 15px;
    padding-left: 15px;
}
*/
/* this is the main container: holding the two subsections*/
/*.main-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
this takes the div main items and creates three equal columns; 
because there are 3 nested divs*/

/*.nav-item{
    display: grid; need grid- because it allows us to allign contents
    align-content: center;   align-content- moves things up and down: start, center, end 
    color: #ecf0f1;
    height: 100%;
}*/
/*changes each item of .main-items*/

/*.logo-container{
    display: grid;
    justify-content: end; *//*justify will move content left/right: center, end, start
}*/

/* #search-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10 px;
    justify-content: center;
    padding: 20px
}


#results-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.result{
    display: grid;
    height: 100px;
    background-color: #16a085;
    text-align: center;
    align-content: center;
    border-radius: 4px;
} */

#chat{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 15fr 1fr;
    grid-template-areas: 
    "f c"
    "f i";
    /* background-color: purple */
}

#friends{
    grid-area: f;
    display: grid;
    background-color: violet;
    padding-left: 5px;

}
#freya{
    background-color: peru;
    height: 40px;
    margin-right: 10px;
}

#chatbox{
    grid-area: c;
    display: grid;

    background-color: rgb(179, 174, 174);
    grid-template-rows: 1fr 1fr 1fr;
    font-family: fantasy;
    font-size: 12px;
    text-align: start
    /* grid-template-areas: inherit */
}

.text-container{
    background-color:grey;
    border-radius: 5px; 
    width: 100px;
    height: 40px;
    display: inline-block;
}

.text{
    margin-left: 2px;
    width: auto;
}

.left{
    display: grid;
    justify-content: start;
    margin-left: 10px;
    margin-top: 10px;
}

.right{
    display: grid;
    margin-left: 83%;
    margin-bottom: 20px;
}

#input{
    grid-area: i;
    display: grid;
    position: relative;
    text-align: center;
}
#send{
    justify-content: end;
    display: grid;
}

#send{
    width: 150px;
    height: 30px;
    position: absolute;
    background-color: blueviolet;
    margin-left: 80%;
    text-align: center;
    display: inline-block
}

.time{
    font-size: 10px;
    text-align: end;
    position: relative;
    display: inline-block;
}

#message{
    width: 700px;
    height: 10pxl
}
